<p style="color: green"><%= notice %></p>

<%= link_to "Back to P.I. list", principal_investigators_path %>

<h2><%= @principal_investigator.name.split(",")[0] %></h2>

<p><%= @principal_investigator.name %></p>

<p>
  <table>
    <tr><th><%= pluralize @principal_investigator.experiments.size, "Experiment" %></th></tr>
    <% @principal_investigator.experiments.each do |ex| %>
      <tr><td><%= link_to ex.short_name, ex %></td></tr>
    <% end %>
  </table>
</p>