<!DOCTYPE html>
<html>
  <head>
    <title>IssScience</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" href="/space-station.png"/>
  </head>

  <body>

    <header>
      <h1>ISS Science</h1>
      <nav>
        <%= link_to "Experiments", experiments_url %>
        <%= link_to "Space Agencies", space_agencies_url %>
        <%= link_to "Keywords", keywords_url %>
        <%= link_to "Categories", categories_url %>
        <%= link_to "Subcategories", subcategories_url %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
     <p>ISS Science Manager Review, by <a href="https://orcid.org/0000-0002-0093-1206" target="_blank">Castaño, P.</a> & <a href="https://orcid.org/0000-0001-7699-3983" target="_blank">Bazán, J.</a></p>
    </footer>
  </body>
</html>
